.sidebar{
  background-color: #111;
  color: white;
  padding: 20px;
  font-weight: bold;
  margin-bottom: 20px;

}
.sidebar-header{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.nav-list{
  display: flex;
  padding-left: 0;
  list-style: none;
}
.nav-item{
  margin-right: 20px;
}
.link-style{
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}
.link-style:hover{
  color: #d4d4d4;
}
@media(max-width: 768px){
  .sidebar{
    padding: 10px;
  }
  .nav-list{
    flex-direction: column;
    align-items: center;
  }
  .nav-item{
    margin: 10px 0;
  }
}
